.clicker {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    min-height: 100%;
}

#pokemonClicker {
    width: 50%;
    height: 50%;
    margin: auto;

    p {
        color: #858585;
    }

    button {
        width: 100%;
        height: 100%;

        padding: 0;

        background: rgba(0, 0, 0, 0.2);
        box-shadow: 3px 4px 16px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5px);
        border-radius: 20px;

        overflow: hidden;

        img {
            width: 90%;
            height: 90%;
            align-self: center;
        }

        span{   
            width: 100%;
            height: 10px;
            background: #000000;

            span {
                height: 100%;
                width: 100%;
                right: 5%;
                background: #D32F2F;
            }
        }
    }
}

#clicker {
    width: 75%;
}

#collect {
    width: 75%;
    margin-top: -20%;
}

#pc {
    width: 50%;
}

#stock {
    color: #858585;
    background-color: #000000;
    margin: auto;
    margin-top: 10%;
    margin-bottom: -10%;
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
}