.avatar {
  div {
    height: 100%;
    width: 100%;
    img {
      width: 75%;
      height: auto;
      background-color: rgba(169, 169, 169, 0.902);
      border: solid black 2px;
      border-radius: 100%;
    }
  }
}