body {
    background-image: url("../Ressources/Pokeball.jpg");
    background-size: 100%;
}

#login {
    background-color: rgba(169, 169, 169, 0.9);
    border-radius: 10px;
    
    padding: 3%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;

    text-align: center;
}

#register {
    background-color: rgba(169, 169, 169, 0.9);
    border-radius: 10px;
    
    padding: 3%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;

    text-align: center;
}